body{
    background-color: crimson;
}
.color1{
    background-color:crimson ;
    color:white ;
}
.color2{
    background-color:green ;
    color: white;
}
.color3{
    background-color: blue;
    color: white;
}
.color4{
    background-color: orangered;
    color:white ;
}
.color5{
    background-color: yellowgreen;
    color:white ;
}
.color6{
    background-color: black;
    color:white ;
}
.container{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.navbar-expand-md .navbar-collapse{
    background-color: crimson !important;

}
.navbar-brand{
    color: white!important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    background-color: crimson;
}
.navbar{
    background-color: crimson !important;
}
footer h2{
    padding: 10px;
    background-color: white;
}
footer p{
    color: white;
}